

.button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;

}

.ol{
    margin-top: 3em;
}


  .inicio{
    width: 100%;
   position: fixed;
   margin-top: 0px;

   
  }

  .principio{
    position: absolute;
    top: -0px;
   }
   
   H1{
    margin-top: 0;
   }

   h3{
    margin-left: 2em;
   }

.canto{
    font-size: 2em;
}

.der>a{
    color: aliceblue;
    margin-left: 33em; 
    font-style: italic;
    font-size: 2em;
   
    
}

.article{
    padding-top: 8em;
    font-size: 0.7em;
    margin-left: 1em;
}

.img{
    width: 70em;
    border: 5px double brown;
}
.img1{
    width: 2.5em;
    border: 2px solid brown;
    margin-left: 0.3em;
}
.img2{
    width: 1em;
    border: 2px solid brown;
    margin-left: 0.3em;
}
.img3{
    width: 30em;
    border: 7px double brown;
    margin-left: 0.3em;
}

.container nav a{
    color: azure;
}

.container nav a:hover{
    color: yellow;
    font-size: 1.1em;
}



.sem{
    padding-left: 2em;
    color: rgb(160, 11, 11);
}

.doc{
    color: aliceblue;
    font-size: 1em;
    text-align: left;
}

.carta{
    text-align: left;
    
}

/* .carta ol li{
    padding: 0.5em;
} */

.contact{
font-size: 1em;
color: brown;
font-style: italic;
}

.footer{
  border: green double 4px;
  background-color: antiquewhite;
  border-radius: 1em;
  text-align: center;
}

.content{
  color: white;
  text-align: left;
  display: flex;
}

.dos>a{
  color: white;
 text-decoration: none;
}

section{
  padding: 5%;
  margin-left: -4em;
}
.section{
  padding: 1em;
  margin-left: 2em;
}

.cita{
  color: brown;
  font-style: italic;
  font-size: 1.5em;
}
.subtitulo{
  color: darkred;
  margin-left: 1em;
}
.lema{
  color: blue;
  font-size: 1.2em;
}
.init{
  margin-top: 2.5em;
  margin-left: 1.5em;
  border: 4px double brown;
  width: 20em;
  text-align: center;
  color: brown;
  font-style: italic;
  padding: 0.2em;

}

.select{
  border: brown 1px solid;
  font-size: 1.2em;
  width: 90%;
  margin: 0.4em;
  padding: 0.3em;
}

.nombre{
  color: white;
  font-size: 0.9em;
  margin-top: 2%;
  padding-left: 1em;
  text-decoration: none;
}

.nombre:hover{
  color: yellow;
}



 summary{
  color: brown;
  font-style: italic;
  font-weight: bold;
}

summary>a{
  color: blue;
}

.links{
 margin-left: 10px;
}

.studio{
  color: brown;
  font-style: italic;
  font-size: 0.8em;
}

.acorde{
  white-space: pre;
  margin-top: 1em;

font-weight: bold;
color: brown;
}

.pre {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  white-space: pre-wrap;
  font-size: 1.5em;
}

.select{
  width: 50em;
}
.logoC{
  width: 14em;
  height: 2em;
  background-color: brown;
  color: white;
  margin-left: 1em;
}

a>h1{
  color: blue;
}


