<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../indexCoro.css">
  <title>LAYOUT</title>
</head>

<body>
  <!-- /////////////////////////////////////// -->
  <ol>
    <li class="li">
      <details class="select2">
        <summary>TEMA</summary>
        <ol>
          <li>BIENVENIDA <br>
            Conocer al niño <br>
            Oración
          </li><br>
          <li>RECORDAR: <br>
            EL TEMA ANTERIOR <br>
            La definición <br>
            El ejemplo <br>
            La tarea </li><br>
          <li>TEMA: <br>
            V=> Una verdad: Definición<br>
            E=> UN texto o documento <br>
            S=> Salir <br>
          </li><br>
          <li>DESPEDIDA , RESUMEN Y ORACIÓN <br>
            Una verdad: Definición<br>
            UN texto o documento <br>
            La tarea <br><br>
            Oración, Canción o Lectio.
          </li><br>
        </ol>
      </details>
    </li>
    <!-- ****************************** -->
    <li class="li">
      <details class="select2">
        <summary></summary>

      </details>
    </li>
    <!-- ****************************** -->
    <li class="li">
      <details class="select2">
        <summary></summary>

      </details>
    </li>
    <!-- ****************************** -->

  </ol>
  <!-- ////////////////////////////////// -->
</body>

</html>